/*
Variables for typography
*/
$base-font-family: 'Roboto', sans-serif;
$headings-font-family: 'Montserrat', sans-serif;

/*
Variables for colors
*/
$color-blue: #00B8D9;
$color-purple: #6554C0;
$color-green: #36B37E;